:export {
  accentwidth: 5px;
  borderradius: 2px;
  animateduration: 0.4s;
  screensize: 567px;
  sm: 20;
  md: 30;
  lg: 50;
  smpad: 5;
  mdpad: 10;
  lgpad: 15;
  sidebarwidth: 80px;
  sidebarstar: 30;
}
